*{
    /* background color */
    --backgroundcolor: #ffffff;
    /* navbar background color */
    --navbarcolor: #474747;
    --navbarmenumobile:rgba(76,76,76,0.6);
    --navbarbordercolor: #c4c4c4;
}
*{
    /* website background colour dark */
    /*background-color: var(--backgroundcolor);*/
}


/* first page */
.first-page {
    width: 100vw;
    height: 100vh;
    background-image: url('assets/pictures/backimggif.gif');
    background-size: cover;
    background-repeat: no-repeat;
}
.avatar{
    display: flex;
    padding-top: 220px;
    padding-left: 15px;
}
.avatar > img {
    border-radius: 3px;
}
.first-page > .sentence-1{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    color: rgb(142, 142, 142);
    font-weight: 600;
}
.first-page > .sentence-2{
    font-family: 'Francois One', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 300;
}
.first-page > .sentence-3{
    font-family: 'Francois One', sans-serif;
    text-transform: none;
    color: #FFE3B3;
    font-weight: 300;
}
.first-page > .sentence-4{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    color: rgb(198, 198, 198);
    font-weight: 600;
}
.first-page > .sentence-5{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    color: rgb(198, 198, 198);
    font-weight: 600;
}

/* mobile view */
@media all and (max-width: 576px) {

    /* nav bar */
    .mobile-navbar > .menu{
        display: none;;
    }
    .tab-navbar {
        display: none;
    }
    .mobile-navbar > .container{
        position:fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--navbarcolor);
        width: 100%;
        height: 58px;
        opacity: 0.85;
    }
    .mobile-navbar > .container > .logo{
        display: flex;
        width: 120px;
        height: 45px;
        margin-left: 6px;
        border: 1px solid var(--navbarbordercolor);
    }
    .mobile-navbar > .container > .logo > img{
        width: 100%;
        height: 100%;
    }  .mobile-navbar > .container > .toggle-button{
        display: flex;
        width: 40px;
        height: 40px;
        border: 1px solid var(--navbarbordercolor);
        background-color: var(--navbarcolor);
        margin-right: 8px;
    }
    .mobile-navbar > .container > .toggle-button > img{
        background-color: var(--navbarcolor);
        width: 100%;
        height: 100%;
        margin:auto;
    }
    .mobile-navbar > .menu {
        margin-top: 60px;
        position: fixed;
        width: 100%;
        background-color: var(--navbarmenumobile);
        animation: fadeInAnimation 0.3s forwards; /* Use forwards to retain the final state of the animation */
    }
    @keyframes fadeInAnimation {
        0% { opacity: 0; } /* Start with opacity 0 */
        100% { opacity: 1; } /* End with opacity 1 */
    }
    .mobile-navbar > .menu > .links > li{
        color: white;
    }

    /* first page */
    .first-page {
        width: 100vw;
        height: 100vh;
    }
    .avatar{
        display: flex;
        padding-top: 220px;
        padding-left: 15px;
    }
    .first-page > .sentence-1{
        display: flex;
        font-family: 'Montserrat', sans-serif;
        font-size: 5vh;
        color: rgb(142, 142, 142);
        font-weight: 600;
        margin-left:225px;
        margin-top: -236px;
    }
    .first-page > .sentence-2{
        font-family: 'Francois One', sans-serif;
        font-size: 12vh;
        color: rgb(255, 255, 255);
        font-weight: 300;
        margin-left:239px;
        margin-top:-104px;
    }
    .first-page > .sentence-3{
        font-family: 'Francois One', sans-serif;
        text-transform: none;
        font-size: 12vh;
        color: #FFE3B3;
        font-weight: 300;
        margin-left:220px;
        margin-top: -58px;
    }
    .first-page > .sentence-4{

    }
    .first-page > .sentence-5{

    }

    /* second page */
    .second-page{
        display: flex;
        width: 100vw;
        height: 100vh;
        background-color: red;
    }
    .third-page{
        display: flex;
        width: 100vw;
        height: 100vh;
        background-color: #2e8c00;
    }
    .second-page .ccc p {
        color: white;
        margin-left: 45px;
        margin-top: 50px;
    }
}
@media all and (max-width: 488px) {
    /* nav bar */
    .mobile-navbar > .menu{
        display: none;;
    }
    .tab-navbar {
        display: none;
    }
    .mobile-navbar > .container{
        position:fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--navbarcolor);
        width: 100%;
        height: 58px;
        opacity: 0.85;
    }
    .mobile-navbar > .container > .logo{
        display: flex;
        width: 120px;
        height: 45px;
        margin-left: 6px;
        border: 1px solid var(--navbarbordercolor);
    }
    .mobile-navbar > .container > .logo > img{
        width: 100%;
        height: 100%;
    }  .mobile-navbar > .container > .toggle-button{
           display: flex;
           width: 40px;
           height: 40px;
           border: 1px solid var(--navbarbordercolor);
           background-color: var(--navbarcolor);
           margin-right: 8px;
       }
    .mobile-navbar > .container > .toggle-button > img{
        background-color: var(--navbarcolor);
        width: 100%;
        height: 100%;
        margin:auto;
    }
    .mobile-navbar > .menu {
        margin-top: 60px;
        position: fixed;
        width: 100%;
        background-color: var(--navbarmenumobile);
        animation: fadeInAnimation 0.3s forwards; /* Use forwards to retain the final state of the animation */
    }
    @keyframes fadeInAnimation {
        0% { opacity: 0; } /* Start with opacity 0 */
        100% { opacity: 1; } /* End with opacity 1 */
    }
    .mobile-navbar > .menu > .links > li{
        color: white;
    }

    .avatar{
        width: 100px;
        height: 250px;
        padding-top: 20vh;
        padding-left: 4px;
    }
    .first-page > .sentence-1{
        margin-left: 18px;
        margin-top: 1vh;
        font-size: 5vw;
    }
    .first-page > .sentence-2{
        margin-left: 14px;
        margin-top: -9vh;
        font-size: 20vw;
    }
    .first-page > .sentence-3{
        margin-left: 14px;
        margin-top: -10vh;
        font-size: 20vw;
    }
    .first-page > .sentence-4{
        margin-left: 14px;
        margin-top: -6vh;
        font-size: 4vw;
    }
    .first-page > .sentence-5{
        margin-left: 14px;
        margin-top: -1vh;
        font-size: 4vw;
    }

}

@media all and (min-width: 992px) {

}
@media all and (min-width: 1400px) {

}
/*@media all and (max-width: 992px) {*/

/*}*/

/* mobile view */
/*@media all and (max-width: 576px) {*/

    /*!* nav bar *!*/
    /*.mobile-navbar{*/
    /*    display: none;*/
    /*}*/
    /*.tab-navbar{*/
    /*    display: block;*/
    /*}*/
    /*.avatar{*/
    /*    margin-top: -25px;*/
    /*}*/
    /*.tab-navbar > .container{*/
    /*    position:fixed;*/
    /*    display: flex;*/
    /*    align-items: center;*/
    /*    justify-content: space-between;*/
    /*    background-color: var(--navbarcolor);*/
    /*    width: 100%;*/
    /*    height: 80px;*/
    /*    opacity: 0.85;*/
    /*}*/
    /*.tab-navbar > .container > .logo{*/
    /*    width: 135px;*/
    /*    height: 60px;*/
    /*    margin-left: 6px;*/
    /*    border: 1px solid var(--navbarbordercolor);*/
    /*    box-shadow: 4px 4px;*/
    /*}*/
    /*.tab-navbar > .container > .logo > img{*/
    /*    width: 100%;*/
    /*    height: 100%;*/
    /*}*/
    /*.tab-navbar > .container > .toggle-button{*/
    /*       width: 40px;*/
    /*       height: 40px;*/
    /*       border: 1px solid var(--navbarbordercolor);*/
    /*       background-color: var(--navbarcolor);*/
    /*       margin-right: 8px;*/
    /*}*/
    /*.tab-navbar > .container > .links{*/
    /*    background-color: var(--navbarcolor);*/
    /*}*/
    /*.tab-navbar > .container > .links > li{*/
    /*    margin-left: 9px;*/
    /*    display: inline-flex;*/
    /*    background-color: var(--navbarcolor);*/
    /*}*/
    /*.tab-navbar > .container > .links > li > a {*/
    /*    color: white;*/
    /*}*/
    /*.tab-navbar > .container > button {*/
    /*    margin-right: 7px;*/
    /*}*/
    /*.tab-navbar > .container > button {*/
    /*    width: 80px;*/
    /*    height: 60px;*/
    /*    background-color: #6b6666;*/
    /*    color: #ffffff;*/
    /*    border: 1px solid var(--navbarbordercolor);*/
    /*    box-shadow: 2px 2px #808080;*/
    /*}*/

    /*.tab-navbar > .container > button:hover {*/
    /*    background-color: #001d82;*/
    /*    color: white;*/
    /*    border: 2.2px solid var(--navbarbordercolor);*/
    /*}*/

    /*!* first page *!*/
    /*.first-page{*/

    /*}*/
    /*.avatar{*/
    /*    width:200px;*/
    /*    height: 300px;*/
    /*    margin-top: -310px;*/
    /*}*/
    /*#avat{*/
    /*    !*margin-top: 10vh;*!*/
    /*    width: 100%;*/
    /*    height: 100%;*/
    /*    background-color: black;*/
    /*}*/
    /*#backimg{*/

    /*    width: 100%;*/
    /*    height: 100%;*/
    /*    !*filter: contrast(1.5) brightness(1)*!*/
    /*}*/
    /*!* second page *!*/
    /*.second-page{*/
    /*    width: 100%;*/
    /*    height: 100vh;*/
    /*    background-color: #003e8e;*/
    /*}*/

/*}*/

/*!* Laptop view *!*/
/*@media all and (max) {*/
    /*!* nav bar *!*/
    /*.mobile-navbar{*/
    /*    display: none;*/
    /*}*/
    /*.tab-navbar{*/
    /*    display: block;*/
    /*}*/
    /*.avatar{*/
    /*    margin-top: -25px;*/
    /*}*/
    /*.tab-navbar > .container{*/
    /*    position:fixed;*/
    /*    display: flex;*/
    /*    align-items: center;*/
    /*    justify-content: space-between;*/
    /*    background-color: var(--navbarcolor);*/
    /*    width: 100%;*/
    /*    height: 80px;*/
    /*    opacity: 0.85;*/
    /*}*/
    /*.tab-navbar > .container > .logo{*/
    /*    width: 135px;*/
    /*    height: 60px;*/
    /*    margin-left: 6px;*/
    /*    border: 1px solid var(--navbarbordercolor);*/
    /*    box-shadow: 4px 4px;*/
    /*}*/
    /*.tab-navbar > .container > .logo > img{*/
    /*    width: 100%;*/
    /*    height: 100%;*/
    /*}*/
    /*.tab-navbar > .container > .toggle-button{*/
    /*    width: 40px;*/
    /*    height: 40px;*/
    /*    border: 1px solid var(--navbarbordercolor);*/
    /*    background-color: var(--navbarcolor);*/
    /*    margin-right: 8px;*/
    /*}*/
    /*.tab-navbar > .container > .links{*/
    /*    background-color: var(--navbarcolor);*/
    /*}*/
    /*.tab-navbar > .container > .links > li{*/
    /*    margin-left: 9px;*/
    /*    display: inline-flex;*/
    /*    background-color: var(--navbarcolor);*/
    /*}*/
    /*.tab-navbar > .container > .links > li > a {*/
    /*    color: white;*/
    /*}*/
    /*.tab-navbar > .container > button {*/
    /*    margin-right: 7px;*/
    /*}*/
    /*.tab-navbar > .container > button {*/
    /*    width: 80px;*/
    /*    height: 60px;*/
    /*    background-color: #6b6666;*/
    /*    color: #ffffff;*/
    /*    border: 1px solid var(--navbarbordercolor);*/
    /*    box-shadow: 2px 2px #808080;*/
    /*}*/

    /*.tab-navbar > .container > button:hover {*/
    /*    background-color: #001d82;*/
    /*    color: white;*/
    /*    border: 2.2px solid var(--navbarbordercolor);*/
    /*}*/

    /*!* first page *!*/
    /*.first-page{*/
    /*    width: 100%;*/
    /*    height: 100vh;*/
    /*    background-color: #1d661c;*/
    /*}*/
    /*!*.avatar{*!*/
    /*!*    width:200px;*!*/
    /*!*    height: 300px;*!*/
    /*!*    margin-top: -310px;*!*/
    /*!*}*!*/
    /*!*#avat{*!*/
    /*!*    !*margin-top: 10vh;*!*!*/
    /*!*    width: 100%;*!*/
    /*!*    height: 100%;*!*/
    /*!*    background-color: black;*!*/
    /*!*}*!*/
    /*!*#backimg{*!*/

    /*!*    width: 100%;*!*/
    /*!*    height: 100%;*!*/
    /*!*    !*filter: contrast(1.5) brightness(1)*!*!*/
    /*!*}*!*/
    /*!* second page *!*/
    /*.second-page{*/
    /*    width: 100%;*/
    /*    height: 100vh;*/
    /*    background-color: #56af7a;*/
    /*}*/

/*}*/

/*!* Dekstop Monitor view *!*/
/*@media all and (min-width: 1400px) {*/
        /*.first-page > .avatar {*/
        /*    display: flex;*/
        /*    position: absolute;*/
        /*    bottom: 1vh;*/
        /*    left: 0.5vw;*/
        /*}*/
        /*.first-page > .avatar > img{*/
        /*    position: absolute;*/
        /*    width: calc( (96vh + 96vw + 180px)/ 2);*/
        /*    height: calc((95vh + 55vw)/ 2 );*/
        /*    !*filter: contrast(1.5) brightness(1)*!*/
        /*}*/

    /*!* nav bar *!*/
    /*.navbar-container{*/
    /*    display: flex;*/
    /*    align-items: flex-end;*/
    /*    justify-items: center;*/
    /*}*/
    /*.navbar-container > .menu > ul > li{*/
    /*    display: inline-flex;*/
    /*}*/
    /*.navbar-container > .logo {*/
    /*   */
    /*}*/
/*}*/


/*body{*/
/*    background-color: black;*/
/*    border-radius: 200px;*/
/*}*/

/*@media all and (min-width: 1440px) {*/
/*    #first_page{*/
/*        position: relative;*/
/*        width: 98vw;*/
/*        height: 100vh;*/
/*        overflow: hidden;*/
/*    }*/

/*    #first_page_back_img {*/
/*        position: absolute;*/
/*        width: 100vw;*/
/*        height: 100vh;*/
/*        background-image: url('../pictures/backimggif.gif');*/
/*        background-repeat: no-repeat;*/
/*        background-position: 0 0;*/
/*        background-size: cover;*/
/*        filter:brightness(0.6)*/
/*        !*filter:brightness(0.7) blur(5px);*!*/
/*    }*/
/*    #first_page_avatar_section{*/
/*        position: absolute;*/
/*        bottom: 1vh;*/
/*        left: 0.5vw;*/
/*    }*/
/*    #first_page_avatar_img{*/
/*        width: calc( (96vh + 96vw + 180px)/ 2);*/
/*        height: calc((95vh + 55vw)/ 2 );*/
/*        filter: contrast(1.5) brightness(1)*/
/*    }*/
/*    .first_page_menu{*/
/*        position: fixed;*/
/*        background-color: rgba(96, 97, 96, 0.65);*/
/*        width: 98vw;*/
/*        height: 80px;*/
/*        margin-top: -100vh;*/
/*        margin-left: 0.4vw;*/
/*    }*/
/*    #first_page_logo{*/
/*        width: 180px;*/
/*        height:70px;*/
/*    }*/
/*    .first_page_menu_item{*/
/*        color: white;*/
/*        font-size: 22px;*/
/*    }*/
/*    .first_page_menu_div{*/
/*        margin-right:27px;*/
/*        margin-top: -65px;*/
/*        display: flex;*/
/*        justify-content: flex-end;*/
/*    }*/
/*    .first_page_menu_item-1{*/
/*        display: inline-block;*/
/*        margin-left: 5px;*/
/*        margin-top: 5px;*/
/*    }*/
/*    #first_page_menu_item-2{*/
/*        display: inline-block;*/
/*        margin-top: -30px;*/
/*        margin-left: 100px;*/
/*    }*/
/*    #first_page_menu_item-3{*/
/*        display: inline-block;*/
/*        padding-left: 17px;*/
/*    }*/
/*    #first_page_menu_item-4{*/
/*        display: inline-block;*/
/*        padding-left: 17px;*/
/*    }*/
/*    #first_page_menu_item-5{*/
/*        display: inline-block;*/
/*        padding-left: 17px;*/
/*    }*/
/*    #first_page_menu_item-6{*/
/*        display: inline-block;*/
/*        padding-left: 17px;*/
/*    }*/
/*    #first_page_menu_item-7{*/
/*        display: inline-block;*/
/*        padding-left: 17px;*/
/*    }*/
/*    #first_page_writing_contents{*/
/*        position:absolute;*/
/*        margin-left: 30vw;*/
/*        margin-top: -75vh*/
/*    }*/
/*    #first_page_writing_content-1{*/
/*        text-transform: none;*/
/*        text-align: left;*/
/*        vertical-align: top;*/
/*        font-family: 'Montserrat', sans-serif;*/
/*        font-size: 5vh;*/
/*        color: rgb(142, 142, 142);*/
/*        font-weight: 600;*/
/*        width: 100%;*/
/*        height: 100%;*/
/*    }*/
/*    #first_page_writing_content-2{*/
/*        display: inline;*/
/*        font-family: 'Francois One', sans-serif;*/
/*        text-transform: none;*/
/*        text-align: left;*/
/*        vertical-align: top;*/
/*        font-size: 12vh;*/
/*        color: rgb(255, 255, 255);*/
/*        font-weight: 300;*/
/*        width: 100%;*/
/*    }*/
/*    #first_page_writing_content-2-second{*/
/*        display: inline;*/
/*        font-family: 'Francois One', sans-serif;*/
/*        text-transform: none;*/
/*        font-size: 12vh;*/
/*        color: #FFE3B3;*/
/*        font-weight: 300;*/

/*    }*/
/*    #first_page_writing_content-2_container{*/
/*        margin-top: -8vh;*/
/*    }*/
/*    #first_page_writing_content-3{*/
/*        margin-left: 5px;*/
/*        margin-right: 5px;*/
/*        text-align: center;*/
/*        vertical-align: top;*/
/*        font-family: Inter;*/
/*        font-size: 5vh;*/
/*        color: rgba(255, 255, 255, 1);*/
/*        font-weight: 700;*/
/*    }*/
/*    #first_page_writing_content-2_seperator{*/
/*        margin-top: 1vh;*/
/*        width: 12vw;*/
/*        height: 5px;*/
/*        background-color: #E69A73;*/
/*        border-radius: 7px;*/
/*    }*/
/*    #first_page_writing_content-4{*/
/*        margin-left: 5px;*/
/*        text-align: center;*/
/*        vertical-align: top;*/
/*        font-family: Inter;*/
/*        font-size: 5vh;*/
/*        color: rgba(255, 255, 255, 1);*/
/*        font-weight: 300;*/
/*        width: 100%;*/
/*        height: 100%*/
/*    }*/
/*    #first_page_writing_content-3-4{*/
/*        !*background-color: transparent;*!*/
/*        width: 50vw;*/
/*        !*border:4px solid blue; !* Set border width and color *!*!*/
/*    }*/
/*    #first_page_miniCardsHolder {*/
/*        position: relative;*/
/*    }*/

/*    .first_page_miniCards {*/
/*        z-index: 2;*/
/*        text-align: center;*/
/*        border-radius: 50%;*/
/*        box-shadow: 0px 0px 18px 2px rgba(109, 213, 136, 0.5);*/
/*        border: #6dd588 solid 1px;*/
/*        background-color: #25252f;*/
/*        position: absolute;*/
/*        padding: 1px;*/
/*        height: 8vw;*/
/*        width: 8vw;*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*    }*/

/*    #first_page_miniCardOne {*/
/*        top:5vh;*/
/*        left: -3vw;*/
/*        animation: move 6s infinite alternate-reverse ease-out;*/
/*        transition: all 900ms;*/
/*    }*/

/*    #first_page_miniCardTwo {*/
/*        top: 8vh;*/
/*        left: 16vw;*/
/*        animation: moveTwo 5s infinite alternate-reverse ease-out;*/
/*        transition: all 900ms;*/
/*    }*/
/*    #backimg-parallelogram_box-1{*/
/*        position:absolute;*/
/*        margin-left: -32vw;*/
/*        width: 20vw;*/
/*        height: 100vh;*/
/*        transform: skew(30deg);*/
/*        background: linear-gradient(0deg, rgba(85,88,88,1) 0%, rgba(203,203,203,1) 100%);*/
/*        opacity: 0.8;*/
/*        !*filter:brightness(0.7) blur(5px);*!*/
/*    }*/
/*    #backimg-parallelogram_box-2{*/
/*        position:absolute;*/
/*        margin-left: 28vw;*/
/*        width: 20vw;*/
/*        height: 100vh;*/
/*        transform: skew(30deg);*/
/*        background: rgb(68,68,68);*/
/*        background: linear-gradient(0deg, rgba(68,68,68,1) 0%, rgba(127,127,127,0) 24%, rgba(255,255,255,0) 58%, rgba(255,255,255,0) 100%);*/
/*        opacity: 0.9;*/
/*        !*filter:brightness(0.7) blur(5px);*!*/
/*    }*/
/*    #backimg-parallelogram_box-3{*/
/*        position:absolute;*/
/*        margin-left: 51vw;*/
/*        width: 4vw;*/
/*        height: 100vh;*/
/*        transform: skew(30deg);*/
/*        background: rgb(0,88,89);*/
/*        background: rgb(0,88,89);*/
/*        background: linear-gradient(0deg, rgba(0,12,124,1) 0%, rgba(210,217,255,0) 100%);*/
/*        opacity: 0.8;*/
/*        !*filter:brightness(0.7) blur(5px);*!*/
/*    }*/
/*    #backimg-parallelogram_box-4{*/
/*        position:absolute;*/
/*        margin-left: 65vw;*/
/*        width: 15vw;*/
/*        height: 100vh;*/
/*        transform: skew(30deg);*/
/*        background: rgb(0,88,89);*/
/*        background: rgb(0,88,89);*/
/*        background: linear-gradient(0deg, rgba(0,12,124,1) 0%, rgba(210,217,255,0) 100%);*/
/*        opacity: 0.8;*/
/*        !*filter:brightness(0.7) blur(5px);*!*/
/*    }*/
/*    #backimg-parallelogram_box-5{*/
/*        position:absolute;*/
/*        margin-left: 80vw;*/
/*        width: 2vw;*/
/*        height: 100vh;*/
/*        transform: skew(30deg);*/
/*        background: rgb(0,88,89);*/
/*        background: rgb(0,88,89);*/
/*        background: linear-gradient(0deg, rgba(0,12,124,1) 0%, rgba(210,217,255,0) 100%);*/
/*        opacity: 1;*/
/*        !*filter:brightness(0.7) blur(5px);*!*/
/*    }*/
/*    #backimg-parallelogram_box-6{*/
/*        position:absolute;*/
/*        margin-left: 83vw;*/
/*        width: 8vw;*/
/*        height: 100vh;*/
/*        transform: skew(30deg);*/
/*        background: rgb(0,88,89);*/
/*        background: rgb(0,88,89);*/
/*        background: linear-gradient(0deg, rgba(0,12,124,1) 0%, rgba(210,217,255,0) 100%);*/
/*        opacity: 1;*/
/*        !*filter:brightness(0.7) blur(5px);*!*/
/*    }*/
/*}*/
