*{
    /* Clear all default margins */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Background image resource url */
    --backImgUrl:url('assets/pictures/ezgif.com-gif-maker (2).gif');
    --testimonialbackImgUrl:url('../pictures/abstract-flowing-neon-wave-background-fotor-2023062210473.jpg');
    --skillcardimg:url('../pictures/abstract-flowing-neon-wave-background-fotor-2023062210473.jpg');

    /* background colors */
    --bbckcolor: #000000;/*default background colour to body */

    --backgroundcolor: #ffffff;
    /* navbar background color */
    --navbarcolor: #304250;
    --navbarmenumobile: rgba(41, 41, 41, 0.95);
    --navbarbordercolor: #484747;

    --red: #00507e;
    --darkred: #006da8;
    --white: rgba(76, 110, 139, 0.86);

    --platinum: #ffffff;
    --black: #ffffff;
    --thumb: #c9c9c9;
}

/* default background colour to body */
body{
    background-color: var(--bbckcolor);
}
/* line seperator */
hr{
    border-top: 2px solid #00d4ff;
}
/*footer main div*/
.fmd{
    width: 100%;
    height: 140px;

    background-image: var(--backImgUrl);
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(110%);
}
  /*sub div 1 */
.fmd-s1{
    width: 100%;
    height: 140px;
}
.fmd-s1 > img{
    width: 100%;
    height: 100%;
}
  /*sub div 2 */
.fmd-s2{
    display: flex;
    flex-direction: row;

    position: absolute;
    z-index: 2;

    margin-top: -61px;
    left: 50%;
    margin-left: -15rem;
}
.fmd-s2 > img{
    width: 120px;
    height:40px;

    filter: brightness(60%);
    opacity: 0.75;
}
.fmd-s2 > p{
    color: white;
    font-size: 1em;
    opacity: 0.8;

    margin-left: 10px;
    margin-top: 10px;
}

/* first page section */
.fp {
    min-height:776px;
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-image: var(--backImgUrl);
    background-size: cover;
    background-repeat: no-repeat;
}
  /*first page main container*/
.fp-con{
    height: 600px;
    width: 90%;
    border-radius: 2em;

    margin-top:2rem;

    background: rgba(22, 37, 56, 0.81);
    box-shadow: 0 4px 30px rgba(59, 109, 200, 0.2);
    -webkit-backdrop-filter: blur(10.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
  /* first page main container content */
.fp-con-cnt{
    height: 500px;
    width: 93%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-width: 0.7em ;
    border-style: solid;
    border-image: linear-gradient(to right, #00f3f3, darkorchid) 1;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}
  /*first page main container content - image*/
.fp-con-cnt-avtr > img{
    margin-left: 2rem;
    width: 80%;
    height: 99%;
}
.fp-con-cnt-avtr {
    height: 28em;
    width: 20em;
    min-width: 12em;

    border: rgba(142, 55, 208, 0.91) solid 4px;

    border-radius: 1em;
    z-index: 10;
}
.fp-con-cnt-avtr.flipped {
    transition: transform 2.5s; /* Add a transition effect to the transform property */
    transform:rotateY(360deg); /* Rotate the element 180 degrees on the Y-axis */
}
.fp-con-cnt-avtr:hover {
    transform: scale(1); /* Apply a scale transformation on hover */
}
  /*first page main container content - senetences*/
.fp-con-cnt-sents{
    margin-left: 7%;
}

.fp-con-cnt-sents > p:nth-child(1){
    color: #c0c0c0;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.6em;
}
.fp-con-cnt-sents > p:nth-child(2){
    color: #ffc193;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 6em;
}
.fp-con-cnt-sents > p:nth-child(3){
    color:#ffffff ;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 6em;
}
.fp-con-cnt-sents > p:nth-child(4){
    margin-top: 3rem;

    font-family: 'Orbitron', sans-serif;
    color: #d8ffff;
    font-size: 2.5em;
    width: 12em;
}
.fp-con-cnt-sents > p:nth-child(5){
    color: #efe3ff;
    margin-top: 0.6rem;
    font-family: 'Changa', sans-serif;
    font-size: 1.7em;
}

/* second page section */
.sp {
    min-height: 96em;
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-image: var(--backImgUrl);
    background-size: cover;
    background-repeat: no-repeat;
}
  /* second page main container */
.sp-con{
    height:92em;
    width: 80%;
    border-radius: 2em;

    margin-top: 1rem;

    background: rgba(22, 37, 56, 0.81);
    box-shadow: 0 4px 30px rgba(59, 109, 200, 0.2);
    -webkit-backdrop-filter: blur(10.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
  /*second page main container content*/
.sp-con-cnt{
    height: 90em;
    width: 94%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 0;

    border-width: 0.7em 0 0 0;
    border-style: solid;
    border-image: linear-gradient(to right, #00f3f3, darkorchid) 1;
    /*box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);*/
}
  /* second page main container content - main header */
.sp-con-cnt-mh{
    color: #7f9dba;
    width: 100%;
    background-color: rgba(0, 70, 104, 0.36);
}
.sp-con-cnt-mh > p{
    font-size: 3em;
    font-weight: 800;
}
  /* second page main container content - first content */
.sp-con-cnt-fc{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-left: 1em;
    margin-top: 1rem;
}
  /* second page main container content - first content > image container */
.sp-con-cnt-fc-img{
    margin-top: 0;
}
.sp-con-cnt-fc-img-flip-card {
    perspective: 1000px; /* Creates a 3D perspective for the flip */
    width: 290px; /* Adjust the width as needed */
    height: 410px; /* Adjust the height as needed */
    background-color: #006196;
}
.sp-con-cnt-fc-img-card-image{
    width: 290px; /* Adjust the width as needed */
    height: 410px; /* Adjust the height as needed */
}
.sp-con-cnt-fc-img-flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; /* Enables 3D transformations */
    transition: transform 1.6s;
}
.sp-con-cnt-fc-img-flip-card:hover .sp-con-cnt-fc-img-flip-card-inner {
    transform: rotateY(180deg); /* Flips the card on hover */
}
.sp-con-cnt-fc-img-flip-card-front,
.sp-con-cnt-fc-img-flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: blue;
    backface-visibility: hidden; /* Hides the back face of the card */
}
.sp-con-cnt-fc-img-flip-card-back {
    transform: rotateY(180deg); /* Initially hides the back side of the card */
    /* Add styles for the back side here */
}
  /* first main container content - second content > circles container */
#sp-con-cnt-fc-circle-con {
    margin-top: -7rem;
    display: flex;
    flex-direction: row;
}
.sp-con-cnt-fc-circles {
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 0px 18px 2px rgba(15, 149, 180, 0.91);
    border: rgba(0, 157, 193, 0.91) solid 1px;
    background-color: #25252f;
    height: 130px;
    width: 130px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
#sp-con-cnt-fc-circle-1 {
    position: absolute;
    z-index: 4;

    margin-top: -9rem;
    margin-left: 34%;
    animation: moveOne 6s infinite alternate-reverse ease-out;
    transition: all 900ms;
}
#sp-con-cnt-fc-circle-2 {
    position: absolute;
    z-index: 3;

    margin-top: -9rem;
    margin-left: 1%;
    animation: moveTwo 5s infinite alternate-reverse ease-out;
    transition: all 900ms;
}
#sp-con-cnt-fc-circle-1:hover,
#sp-con-cnt-fc-circle-1:focus,
#sp-con-cnt-fc-circle-2:hover,
#sp-con-cnt-fc-circle-2:focus{
    transform: rotateZ(360deg);
    transition: all 900ms;
}
@keyframes moveOne {
    0% {
        margin-top: -9rem;
        margin-left: 34%;
    }

    100% {
        margin-top: -9rem;
        margin-left: 11%;
    }
}
@keyframes moveTwo {
    0% {
        margin-top: -9rem;
        margin-left: 1%;
    }

    100% {
        margin-top: -9rem;
        margin-left: 24%;
    }
}
.sp-con-cnt-fc-circles-header {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    display: block;
}
.secp-mini-details-circle-sentens {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1rem;
}
  /* second page main container content - first content > text container */
.sp-con-cnt-fc-txt-con{
    color: white;
    margin-top: 30px;
    font-size: 1.3rem;
    margin-left: 15px;
}
  /* second page main container content - first content > text container*/
.secp-btn{
    align-items: center;
    margin-top: 5px;
}
#secp-btn-download {
    text-decoration: none;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    background: transparent;
    padding: 0.4rem 0.6rem;
    font-size: 1.1rem;
    border-radius: 10px;
    border: #00c8ff solid 2px;
    transition: all 500ms;
}
.secp-btn-links {
    background: transparent;
    padding: 0.4rem 0.6rem;
    font-size: 1.1rem;
    border-radius: 10px;
    border: rgba(0, 200, 255, 0.91) solid 2px;
    transition: all 500ms;
}
#secp-btn-download:hover,
#secp-btn-download:focus {
    background-color: #00c8ff;
    transition: all 500ms;
}
.secp-btn-links:hover,
.secp-btn-links:focus {
    background-color: rgba(0, 200, 255, 0.71);
    transition: all 500ms;
}
  /* second page main container content - second content */
.sp-con-cnt-sc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:22px;
}
.sp-con-cnt-sc-h{
    color: #b3b1b1;
    font-size: 35px;
    margin-top: 14px;
}
.sp-con-cnt-sc-c {
    height: 405px;
    width: 100%;
    background-color: #206300;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;

    background-image: var(--testimonialbackImgUrl);
    background-size: cover;
    background-repeat: no-repeat;
    border: rgba(142, 55, 208, 0.91) solid 2px;
}

.sp-con-cnt-sc-c-circle {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid #fff;
}
.sp-con-cnt-sc-c-circle > img {
    width: 100%;
    height: 100%;
}
.sp-con-cnt-sc-c > p,
.sp-con-cnt-sc-c > a > p{
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    text-align: center;
    line-height: 27px;
    color: #fff;
    width:98%
}
.sp-con-cnt-sc-c > a > p{
    margin-top: 1rem;
    text-decoration: underline;
    color: #95fffd;
}
/* third page section */
.tp {
    min-height: 191em;
    height: 191em;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-image: var(--backImgUrl);
    background-size: cover;
    background-repeat: no-repeat;
}
  /* third page main container content */
.tp-con {
    height: 98%;
    width: 80%;
    border-radius: 2em;

    margin-top: -1rem;

    background: rgba(22, 37, 56, 0.7);
    box-shadow: 0 4px 30px rgba(59, 109, 200, 0.2);
    -webkit-backdrop-filter: blur(10.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
  /* third page main container content */
.tp-con-cnt {
    height: 98%;
    width: 94%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-width: 0.7em 0 0 0;
    border-style: solid;
    border-image: linear-gradient(to right, #00f3f3, darkorchid) 1;
}
  /* third page main container content - main header */
.tp-con-cnt-mh {
    color: #7f9dba;
    width: 100%;
    background-color: rgba(0, 70, 104, 0.36);
    font-size: 3em;
    font-weight: 800;

    margin-top:0;
}
  /* third page main container content - sub header 1 */
.tp-con-cnt-sh-1{
    width: 100%;
    color: #9e7bd4;
    font-size: 1.3em;

    margin-left: 10%;
}
/* third page main container content - sub header 2 */
.tp-con-cnt-sh-2{
    margin-left: -40%;

    color: #9e7bd4;
    width: 50%;
    font-size: 1.3em;
}
  /* third page main container content - sub header 3 */
.tp-con-cnt-sh-3{
    width: 100%;
    color: #9e7bd4;
    font-size: 1.3em;

    margin-left: 10%;
}
.tp-con-cnt-scnt-1{
    width: 100%;
    margin-left: 1em;
}
.tp-con-cnt-scnt-2{
    width: 100%;
    margin-left: 0.5em;
}
.tp-con-cnt-scnt-3{
    width: 100%;
}
  /* timeline */
.timeline {
    margin-left: -4rem;
}
.timeline-content > img{
    width: 180px;
    height: 125px;
}
.timeline > .timeline-item {
    display: flex;
    align-items: flex-start;
}
.timeline > .timeline-item > div {
    flex: 1;
    padding: 20px 40px;
}
.timeline > .timeline-item > div:last-child {
    text-align: left;
    padding-bottom: 40px !important;
}
.timeline > .timeline-item > div:first-child::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #d337ff;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 18px rgba(199, 0, 255, 0.2);
}
.timeline > .timeline-item:nth-child(odd) > div:first-child {
    text-align: right;
    position: relative;
}
.timeline > .timeline-item:nth-child(odd) > div:first-child::after {
    right: -11px;
}
.timeline > .timeline-item:nth-child(odd) > div:last-child {
    text-align: left;
    border-left: 2px solid #e0e0e0;
}
.timeline > .timeline-item:nth-child(odd) > .timeline-date > div {
    margin-right: 0;
}
.timeline > .timeline-item:nth-child(odd) > .timeline-content > h2 {
    text-align: left !important;
}
.timeline > .timeline-item:nth-child(even) > div:first-child {
    order: 2;
    text-align: left;
    position: relative;
}
.timeline > .timeline-item:nth-child(even) > div:first-child::after {
    left: -1px;
}
.timeline > .timeline-item:nth-child(even) > div:last-child {
    order: 1;
    text-align: right;
    border-right: 2px solid #e0e0e0;
}
.timeline > .timeline-item:nth-child(even) > .timeline-date > div {
    margin-left: 0px;
}
.timeline > .timeline-item:nth-child(even) > .timeline-content > h2 {
    text-align: right !important;
}
.timeline > .timeline-item .timeline-date > div {
    background-color: #0081ab;
    box-shadow: 0 0 0 4px rgba(103, 58, 183, 0.2);
    border-radius: 50px;
    color: #ffffff;
    text-align: center;
    max-width: max-content;
    margin: auto;
    padding: 10px 20px;
}
.timeline > .timeline-item .timeline-content .fa-icon {
    font-size: 80px;
}
.timeline > .timeline-item .timeline-content > h2 {
    color: #d6fdff;
    font-size: 1.5em;
    font-weight: bold;
}
.timeline-content > p {
    color: #bdbdbd;
}
/* timeline content */
.timeline-content{
    height: 288px;
    min-height: 288px;
}
  /* cardset */
.thcp-cardset-1{
    grid-area: sip-cardset-1;
    width: 100%;
    margin-top: 1rem;
}
.thcp-cardset-1-cards {
    display: flex;
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
.thcp-cardset-1-card {
    display: flex;
    flex-direction: column;
    min-width: 450px;
    width: 450px;
    height:100%;
    padding: 20px;
    background: var(--white);
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
    scroll-snap-align: start;
    transition: all 0.2s;
}
.thcp-cardset-1-card:not(:last-child) {
    margin-right: 20px;
    margin-bottom: 20px;
}
.thcp-cardset-1-card:hover {
    color: var(--white);
    background: var(--red);
}
.thcp-cardset-1-card .thcp-cardset-1-card-title {
    font-size: 1.3em;
    color: white;
}
.thcp-cardset-1-card .thcp-cardset-1-card-content {
    margin: 20px 0;
    max-width: 85%;
}
.thcp-cardset-1-card .thcp-cardset-1-card-link-wrapper {
    margin-top: -9px;
}
.thcp-cardset-1-card .thcp-cardset-1-card-link{
    display: inline-block;
    text-decoration: none;
    color: #acacac;
    font-size: 1.2em;
    background: var(--red);
    padding: 6px 12px;
    border-radius: 8px;
    transition: background 0.2s;
    margin-top: 5px;
}
.thcp-cardset-1-card:hover .thcp-cardset-1-card-link {
    background: var(--darkred);
}
.thcp-cardset-1-cards::-webkit-scrollbar {
    height: 20px;
}
.thcp-cardset-1-cards::-webkit-scrollbar-thumb,
.thcp-cardset-1-cards::-webkit-scrollbar-track {
    border-radius: 92px;
}
.thcp-cardset-1-cards::-webkit-scrollbar-thumb {
    background: var(--darkred);
}
.thcp-cardset-1-cards::-webkit-scrollbar-track {
    background: var(--thumb);
}
.thcp-cardset-1-card-content-iframe{
    width: 25em;
    height: 20em;
}
.thcp-iframefigma{
    width: 25em;
    height: 10em;
}
.thcp-cardset-1-card-content > img{
    width: 25em;
    height: 20em;
}
.thcp-cardset-1-card-content > p{
    color: white;
    font-size: 1em;
}
.thcp-cardset-1-card:not(:last-child) {
    margin-right: 20px;
}

  /* four page section */
.fop {
    min-height: 115em;
    height: 115em;/* minimum size of first page */
    /*height: 100vh; !* Set the height of the container to the full viewport height *!*/
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-image: var(--backImgUrl);
    background-size: cover;
    background-repeat: no-repeat;
}
  /* four page main container */
.fop-con {
    height: 1750px;
    width: 80%;
    border-radius: 2em;
    margin-top: -1rem;
    background: rgba(22, 37, 56, 0.7);
    box-shadow: 0 4px 30px rgba(59, 109, 200, 0.2);
    -webkit-backdrop-filter: blur(10.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
  /* four page main container content */
.fop-con-cnt {
    height: 98%;
    width: 94%;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    border-width: 0.7em 0 0 0;
    border-style: solid;
    border-image: linear-gradient(to right, #00f3f3, darkorchid) 1;
}
  /* four page main container content - main header */
.fop-con-cnt-mh {
    grid-area: thcp-main-header;
    color: #6e788e;
    margin-top: 1rem;
}
.fop-con-cnt-mh > p {
    font-size: 3em;
    font-weight: 800;
}
  /* four page main container content - main content card */
.fop-con-cnt-mcard {
    height: 210px;
    width: 100%;
    border-radius: 2em;
    margin-top: -1rem;
    background-image: var(--skillcardimg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 4px 30px rgba(221, 225, 245, 0.2);
    -webkit-backdrop-filter: blur(10.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
  /* four page main container content - main content card content*/
.fop-con-cnt-mcard-cnt {
    height: 100%;
    width: 94%;
}
  /* four page main container content - main content card content - main header*/
.fop-con-cnt-mcard-cnt-mh {
    font-size: 2em;
    margin-top: 0.5rem;
    font-weight: 500;
    color: rgb(123, 186, 185);
}
/*four page main container content - main content card content - sub content 1*/
.fop-con-cnt-mcard-cnt-cnt{
    margin-top:1rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 20px; /* Adjust the value to your desired spacing */
}
 /*four page main container content - main content card content - content - item*/
.fop-con-cnt-mcard-cnt-cnt-item{
    display: flex;
    flex-direction: column;
}
.fop-con-cnt-mcard-cnt-cnt-item-img{
    width: 120px;
    height: 120px;
}
.fop-con-cnt-mcard-cnt-cnt-item-img > img{
    width: 100%;
    height: 100%;
}
.fop-con-cnt-mcard-cnt-cnt-item-p{
    color: white;
    margin-left: 40%;
}

/* five page */
.fip {
    min-height: 65em;/* minimum size of first page */
    height: 65em; /* Set the height of the container to the full viewport height */
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-image: url('assets/pictures/ezgif.com-gif-maker (2).gif');
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(80%);
}
.fip-con{
    height: 910px;
    width: 80%;
    border-radius: 2em;

    margin-top: 0;

    /* From https://css.glass */

    background: rgba(43, 62, 77, 0.63);
    box-shadow: 0 4px 30px rgba(59, 109, 200, 0.2);
    -webkit-backdrop-filter: blur(10.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    display: flex;
    justify-content: center;
    align-items: center;
}
.fip-con-cnt{
    height: 870px;
    width: 94%;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-width: 0.7em 0 0 0;
    border-style: solid;
    border-image: linear-gradient(to right, #00f3f3, darkorchid) 1;
    /*box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);*/
}
.fip-con-cnt-mh{
    grid-area: fip-main-header;
    color: #777676;
    margin-top: -2rem;
}
.fip-con-cnt-mh > p{
    font-size: 3em;
    font-weight: 800;
}
.fip-header-1{
    justify-self: start;
    align-self: start;
    color: #9a9999;
    margin-top: 5rem;
}
.fip-header-1 > p{
    font-size: 2.5em;
    font-weight: 500;
}
.fip-cardset-1{
    grid-area: fip-cardset-1;
    width: 100%;
    margin-top: 2rem;
}
.fip-cardset-1-cards {
    display: flex;
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
.fip-cardset-1-card {
    display: flex;
    flex-direction: column;
    width: 450px;
    height:100%;
    padding: 20px;
    background: var(--white);
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
    scroll-snap-align: start;
    transition: all 0.2s;
}

.fip-cardset-1-card:not(:last-child) {
    margin-right: 10px;
}

.fip-cardset-1-card:hover {
    color: var(--white);
    background: var(--red);
}

.fip-cardset-1-card .fip-cardset-1-card-title {
    font-size: 2em;
    color: white;
}

.fip-cardset-1-card .fip-cardset-1-card-content {
    margin: 20px 0;
    max-width: 85%;
}

.fip-cardset-1-card .sip-cardset-1-card-link-wrapper {
    margin-top: -9px;
}

.fip-cardset-1-card .fip-cardset-1-card-link{
    display: inline-block;
    text-decoration: none;
    color: #0e0e0e;
    font-size: 1.8em;
    background: var(--red);
    padding: 6px 12px;
    border-radius: 8px;
    transition: background 0.2s;
    margin-top: 5px;
}

.fip-cardset-1-card:hover .fip-cardset-1-card-link {
    background: var(--darkred);
}

.fip-cardset-1-cards::-webkit-scrollbar {
    height: 20px;
}

.fip-cardset-1-cards::-webkit-scrollbar-thumb,
.fip-cardset-1-cards::-webkit-scrollbar-track {
    border-radius: 92px;
}

.fip-cardset-1-cards::-webkit-scrollbar-thumb {
    background: var(--darkred);
}

.fip-cardset-1-cards::-webkit-scrollbar-track {
    background: var(--thumb);
}

.fip-cardset-1-card:not(:last-child) {
    margin-right: 20px;
    margin-bottom: 20px;
}

/*===========ROTATE ANIMATION=======*/
.fip-rotate-cardset-1 {
  margin-top: 20px;
}

#animationContainer {
    /*background: linear-gradient(to right, red, blue);*/
    /*height: 70vh;*/
    /*height: 532px;*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    /*top: 150px;*/
}
#animationContainer2 {
    /*background: linear-gradient(to right, red, blue);*/
    /*height: 70vh;*/
    /*height: 532px;*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    /*top: 150px;*/
}

.slider {
    position: relative;
    width:200px;
    height: 150px;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
}


@keyframes rotate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100% {
        transform: perspective(1000px) rotateY(360deg)
    }
}

.slider span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(350px);
}

.slider span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: 2s;
    -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, #0004);
}

.slider span:hover img {
    transform: translateY(-50px) scale(1.2);
}

/*  main scroll bar */
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #000000;
    border-radius: 10px;
}
::-webkit-scrollbar
{
    width: 10px;
    background-color: #000000;
}
::-webkit-scrollbar-thumb
{
    background-color: #039cbf;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(0deg,
    rgba(255, 255, 255, 0.5) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0.5) 75%,
    transparent 75%,
    transparent)
}

/* tab and dekstop navigation bar */
.tab-navbar > .nav-container{
    position:fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--navbarcolor);
    width: 100vw;
    height: 4em;
    opacity: 0.85;
    z-index: 1000;
}
.tab-navbar > .nav-container > .logo{
    width: 135px;
    height:3em;
    margin-left: 14px;
    margin-top: -0.5rem;
    border: 1px solid var(--navbarbordercolor);
    box-shadow: 4px 4px;
}
.tab-navbar > .nav-container > .logo > img{
    width: 100%;
    height: 100%;
}
.tab-navbar > .nav-container > .toggle-button{
    width: 40px;
    height: 40px;
    border: 1px solid var(--navbarbordercolor);
    background-color: var(--navbarcolor);
    margin-right: 8px;
}
.tab-navbar > .nav-container > .links{
    background-color: var(--navbarcolor);
}
.tab-navbar > .nav-container > .links > li{
    display: inline-flex;
    background-color: var(--navbarcolor);
}
.tab-navbar > .nav-container > .links > li:nth-child(2){
    margin-left: 2vw;
}
.tab-navbar > .nav-container > .links > li:nth-child(3){
    margin-left: 2vw;
}
.tab-navbar > .nav-container > .links > li:nth-child(4){
    margin-left: 2vw;
}
.tab-navbar > .nav-container > .links > li:nth-child(5){
    margin-left: 2vw;
}
.tab-navbar > .nav-container > .links > li:nth-child(6){
    margin-left: 2vw;
}
.tab-navbar > .nav-container > .links > li:nth-child(7){
    margin-left: 2vw;
}
.tab-navbar > .nav-container > .links > li > a {
    color: white;
    font-size: 1.2em;
}
.tab-navbar > .nav-container > .links > li > a:hover {
    color: #00eae3;
    font-size: 1.2em;
}
.tab-navbar > .nav-container > button {
    margin-right: 32px;
    font-size: 1.2em;
}
.tab-navbar > .nav-container > button {
    width: 135px;
    height: 2.6em;
    background-color: #00dafe;
    color: #3b0f0f;
    border: 1px solid var(--navbarbordercolor);
    box-shadow: 2px 2px #808080;
    font-weight: 700;
}

.tab-navbar > .nav-container > button:hover {
    background-color: #001d82;
    color: white;
    border: 2.2px solid var(--navbarbordercolor);
}

/* mobile navigation bar */
.mobile-navbar > .menu{
    display: none;;
}
.mobile-navbar > .nav-container{
    position:fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--navbarcolor);
    width: 100vw;
    height: 58px;
    opacity: 0.85;
    z-index: 1000;
}
.mobile-navbar > .nav-container > .logo{
    display: flex;
    width: 120px;
    height: 45px;
    margin-left: 6px;
    border: 1px solid var(--navbarbordercolor);
}
.mobile-navbar > .nav-container > .logo > img{
    width: 100%;
    height: 100%;
}  .mobile-navbar > .nav-container > .toggle-button{
       display: flex;
       width: 40px;
       height: 40px;
       border: 1px solid var(--navbarbordercolor);
       background-color: var(--navbarcolor);
       margin-right: 5px;
   }
.mobile-navbar > .nav-container > .toggle-button > img{
    background-color: var(--navbarcolor);
    width: 100%;
    height: 100%;
    margin:auto;
}
.mobile-navbar > .menu {
    margin-top: 60px;
    position: fixed;
    width: 100%;
    background-color: var(--navbarmenumobile);
    animation: fadeInAnimation 0.3s forwards; /* Use forwards to retain the final state of the animation */
}
@keyframes fadeInAnimation {
    0% { opacity: 0; } /* Start with opacity 0 */
    100% { opacity: 1; } /* End with opacity 1 */
}
.mobile-navbar > .menu > .links > li{
    color: white;
    margin-top: 9px;
}
.mobile-navbar > .menu > .links > li > a{
    color: #ffffff;
}
.mobile-navbar > .menu > button{
    margin-top: 9px;
}

    /* last page */
.lastp {
    min-height: 67em;/* minimum size of first page */
    height: 67em; /* Set the height of the container to the full viewport height */
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-image: url('assets/pictures/ezgif.com-gif-maker (2).gif');
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(80%);
}
.lastp-container{
    height: 889px;
    width: 80%;
    border-radius: 2em;

    margin-top: 0;

    /* From https://css.glass */

    background: rgba(43, 62, 77, 0.63);
    box-shadow: 0 4px 30px rgba(59, 109, 200, 0.2);
    -webkit-backdrop-filter: blur(10.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    display: flex;
    justify-content: center;
    align-items: center;
}
.lastp-container-box{
    height: 832px;
    width: 94%;


    display: flex;
    flex-direction: column;
    gap: 40px;

    border-width: 0.7em 0 0 0;
    border-style: solid;
    border-image: linear-gradient(to right, #00f3f3, darkorchid) 1;
    /*box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);*/
}
.lastp-main-header{
    grid-area: fip-main-header;
    color: #777676;
    margin-top: 1rem;
}
.lastp-main-header > p{
    font-size: 3em;
    font-weight: 800;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(0, 132, 139);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    background-color: #303233;
    resize: vertical;
    color:#797d7f;
    font-size: 17px;
}
.name{
    color: #797979;
}
input[type=submit] {
    width: 100%;
    background-color:rgb(0, 132, 139);
    color: #b3bbc0;
    padding: 12px 20px;
    border: 1px solid rgb(0, 132, 139);
    border-radius: 4px;
    cursor: pointer;
    font-size: 17px;
}

input[type=submit]:hover {
    background-color:#303233;
    color:rgb(0, 132, 139);
}
.lastp-separator{
    width: 4px;
    height: 90%;
    border-radius: 5px;
    background-color: #4fa3bd;
    margin-top: 1rem;
    margin-left: 1rem;
}
.lastp-contact_map_And_address{
    display: flex;
    flex-direction: row;
    gap: 20%;
    align-items: center;
    justify-content: center;
}
.lastp-contact_form_And_links{
    display: flex;
    flex-direction: row;
    gap: 15%;
    align-items: center;
    justify-content: center;
}
.img_and_links{
    display: flex;
    flex-direction: column;
}
.sociallinks{
    width: 100px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}
.popup-caller{
    width: 70px;
    height: 70px;
    font-size: 50px;
    background-color: #00c5d2;
    border-radius: 100px;
    position:fixed;
    z-index: 100;
    bottom: 2%;
    right: 1%;
    animation: flip 5s infinite;
}

@keyframes flip {
    0% {
        transform: perspective(800px) rotateY(0);
    }
    50% {
        transform: perspective(800px) rotateY(180deg);
    }
    100% {
        transform: perspective(800px) rotateY(360deg);
    }
}
.popup-caller > i{
    margin-left:12px;
    margin-top: 13px;

    font-size: 45px;
}


/* Mobile devices */
@media (min-width:320px) and (max-width:657px)  {
    /* nav bar */
    .mobile-navbar{
        display: block;
    }
    .tab-navbar{
        display: none;
    }

    /* first page */
    .fp {
        min-height:890px;
        height: 100vh;
        width: 100vw;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
      /*first page main container*/
    .fp-con {
        min-height: 800px;
        height: 800px;
        width: 98%;
        border-radius: 1em;

        margin-top: 3.5rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }
      /* first page main container content */
    .fp-con-cnt{
        min-height: 755px;
        height: 755px;
        width: 95%;

        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;

        border-width: 0.3em ;
    }
    .fp-con-cnt-avtr{
        position: absolute;  /* image move to second item (for change html element order)*/
        z-index: 3;
        margin-top: 7.2rem;

        height: 24em;
        width: 16em;
        min-width: 16em;
    }
    .fp-con-cnt-avtr:hover {
        transform: scale(1.05); /* Apply a scale transformation on hover */
    }
    /*first page main container content - image*/
    .fp-con-cnt-avtr > img{
        margin-left: 2rem;
        width: 70%;
        height: 99%;
    }
      /*first page main container content - senetences*/
    .fp-con-cnt-sents{
        margin-left: 0;
        /*margin-top: 1rem;*/
    }
    .fp-con-cnt-sents > p:nth-child(1){
        font-size: 1.6em;
    }
    .fp-con-cnt-sents > p:nth-child(2){
        font-size: 3.7em;
    }
    .fp-con-cnt-sents > p:nth-child(3){
        font-size: 3.7em;
    }
    .fp-con-cnt-sents > p:nth-child(4){
        margin-top: 28rem;

        font-size: 1.9em;
        width: 2em;
        height: 2.3em;
    }
    .fp-con-cnt-sents > p:nth-child(5){
        font-size: 1em;
    }

    /* second page section */
    .sp {
        min-height: 134em;
        height: 100vh;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    /* second page main container */
    .sp-con{
        height:131em;
        width: 98%;
        border-radius: 1em;

        margin-top: 1rem;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    /*second page main container content*/
    .sp-con-cnt{
        height: 130em;
        width: 94%;

        border-width: 0.3em 0 0 0;

        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /* second page main container content - main header */
    .sp-con-cnt-mh{
        margin-top: -2rem;
    }
    .sp-con-cnt-mh > p{
        font-size: 2.8em;
        font-weight: 800;
    }
    /* second page main container content - first content */
    .sp-con-cnt-fc{
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-left: 0;
    }
    /* second page main container content - first content > image container */
    .sp-con-cnt-fc-img{
        margin-top: 10px;
    }
    .sp-con-cnt-fc-img-flip-card {
        width: 270px; /* Adjust the width as needed */
        height: 400px; /* Adjust the height as needed */
    }
    .sp-con-cnt-fc-img-card-image{
        width: 270px; /* Adjust the width as needed */
        height: 400px; /* Adjust the height as needed */
    }
    /* first main container content - second content > circles container */
    #sp-con-cnt-fc-circle-con {
        margin-top: -7rem;
        display: flex;
        flex-direction: row;
    }
    .sp-con-cnt-fc-circles {
        height: 130px;
        width: 130px;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    #sp-con-cnt-fc-circle-1 {
        position: absolute;
        z-index: 4;

        margin-top: 7.5rem;
        margin-left: -47%;
    }
    #sp-con-cnt-fc-circle-2 {
        position: absolute;
        z-index: 3;

        margin-top: 7.5rem;
        margin-left: 6%;
    }
    @keyframes moveOne {
        0% {
            margin-top: 7.5rem;
            margin-left: -47%;
        }
        100% {
            margin-top: 7.5rem;
            margin-left: 6%;
        }
    }
    @keyframes moveTwo {
        0% {
            margin-top: 7.5rem;
            margin-left: 6%;
        }
        100% {
            margin-top: 7.5rem;
            margin-left: -47%;
        }
    }
    .sp-con-cnt-fc-circles-header {
        font-weight: 600;
        font-size: 1.5rem;
    }
    .secp-mini-details-circle-sentens {
        font-weight: 300;
        font-size: 1rem;
    }
    /* second page main container content - first content > text container */
    .sp-con-cnt-fc-txt-con{
        margin-top: 260px;
        font-size: 1.1rem;
        margin-left: 10px;
        height: 12rem;
    }
    /* second page main container content - first content > text container*/
    .secp-btn{
        margin-top: 10px;
    }
    #secp-btn-download {
        font-weight: 300;
        padding: 0.4rem 0.6rem;
        font-size: 1.25rem;
    }
    .secp-btn-links {
        font-size: 1.25rem;
    }
    /* second page main container content - second content */
    .sp-con-cnt-sc{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:22px;
    }
    .sp-con-cnt-sc-h{
        font-size: 35px;
        margin-top: 18px;
    }
    .sp-con-cnt-sc-c {
        height: 550px;
        width: 100%;
        border-radius: 1rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2px;
    }
    .sp-con-cnt-sc-c-circle {
        width: 150px;
        height: 150px;
        border: 5px solid #fff;
    }
    .sp-con-cnt-sc-c > p,
    .sp-con-cnt-sc-c > a > p{
        font-size: 1em;
        text-align: center;
        width:98%
    }
    .sp-con-cnt-sc-c > a > p{
        margin-top: 1rem;
    }

    /* third page section */
    .tp {
        min-height: 283em;
        height: 283em;
    }
      /* third page main container content */
    .tp-con {
        width: 98%;
    }
    .tp-con-cnt{
        border-width: 0.3em 0 0 0;
    }
      /* timeline */
    .timeline > .timeline-item {
        flex-direction: column;
        align-items: flex-start;
        border-left: 4px solid #e0e0e0;
        margin-left: 4em;
    }
    .timeline > .timeline-item > div {
        border-width: 0 !important;
        text-align: left !important;
        order: unset !important;
    }
    .timeline > .timeline-item > div::after {
        left:0 !important;
    }
    .timeline > .timeline-item:nth-child(odd) > .timeline-content > h2 {
        text-align: left !important;
    }

    .timeline > .timeline-item:nth-child(even) > .timeline-content > h2 {
        text-align: left !important;
    }
      /* cardset */
    .thcp-cardset-1-card {
        min-width: 360px;
        width: 360px;
    }
    .thcp-cardset-1-card-content > img{
        width: 20em;
        height: 15em;
    }
    .thcp-cardset-1-cards::-webkit-scrollbar {
        height: 10px;
    }
    .thcp-cardset-1-card .thcp-cardset-1-card-title {
        font-size: 1em;
    }
      /* timeline content */
    .timeline-content{
        height: 425px;
        min-height: 425px;
    }

    /* four page section */
    .fop {
        min-height: 82em;
        height: 82em;/* minimum size of first page */
    }
      /* four page main container */
    .fop-con {
        width: 98%;
        height: 1250px;
    }
    .fop-con-cnt{
        margin-top: 2rem;
        border-width: 0.3em 0 0 0;
    }
    /* four page main container content - main content card */
    .fop-con-cnt-mcard {
        height: 145px;
    }
      /* four page main container content - main content card content - main header*/
    .fop-con-cnt-mcard-cnt-mh {
        font-size: 1.3em;
    }
      /*four page main container content - main content card content - content - item*/
    .fop-con-cnt-mcard-cnt-cnt-item-img{
        width: 50px;
        height: 50px;
    }
    /*four page main container content - main content card content - sub content 1*/
    .fop-con-cnt-mcard-cnt-cnt{
        gap: 5px; /* Adjust the value to your desired spacing */
    }
    .fop-con-cnt-mcard-cnt-cnt-item-p{
        display: none;
    }

    /* five page section */
    .fip {
        min-height: 55em;
        height: 55em;
    }
    /* third page main container content */
    .fip-con {
        width: 98%;
        height: 826px;
    }
    .fip-con-cnt{
        border-width: 0.3em 0 0 0;
        height: 776px;
    }

    /*last page*/
    .lastp{
        min-height: 64em;
        height: 64em;
    }
    .lastp-container{
        width: 98%;
    }
    .lastp-container-box{
        border-width: 0.3em 0 0 0;

        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .address{
        display: none;
    }
    .contact-map{!important;
        width: 100%;
        height: 300px;
    }
    .contact-map > iframe { !important;
        width: 100%;
        height: 100%;
    }

    /*footer main div*/
    .fmd {
        width: 100%;
        height: 105px;
    }
    /*sub div 1 */
    .fmd-s1{
        width: 100%;
        height: 110px;
    }
    /*sub div 2 */
    .fmd-s2{
        display: flex;
        flex-direction: column;

        position: absolute;
        z-index: 2;

        margin-top: -61px;
        left: 0%;
        margin-left:8px;
    }
    .fmd-s2 > img{
        width: 90px;
        height:28px;
    }
    .fmd-s2 > p{
        margin-left: 0px;
        margin-top: 10px;

        font-size: 0.7em;
    }

}


@media (min-width:657px) and (max-width:992px)  {
    /* nav bar */
    .mobile-navbar{
        display: none;
    }
    .tab-navbar{
        display: block;
    }
    /* reorganise navbar for tab view */
    .tab-navbar > .nav-container > .logo {
        display: none;
    }

    /* first page section */
    .fp {
        min-height:776px;
        height: 100vh;
        width: 100%;
    }
      /*first page main container*/
    .fp-con{
        height: 580px;
        width: 97%;

        margin-top:1rem;
    }
      /* first page main container content */
    .fp-con-cnt{
        height: 500px;
        width: 94%;

        border-width: 0.48em ;
    }
      /*first page main container content - image*/
    .fp-con-cnt-avtr > img{
        margin-left: 2rem;
        width: 70%;
        height: 99%;
    }
    .fp-con-cnt-avtr {
        height: 28em;
        width: 20em;
        min-width: 12em;
    }
      /*first page main container content - senetences*/
    .fp-con-cnt-sents{
        margin-left: 1%;
    }
    .fp-con-cnt-sents > p:nth-child(1){
        font-size: 1.6em;
    }
    .fp-con-cnt-sents > p:nth-child(2){
        font-size: 4em;
    }
    .fp-con-cnt-sents > p:nth-child(3){
        font-size: 4em;
    }
    .fp-con-cnt-sents > p:nth-child(4){
        margin-top: 3rem;

        font-size: 1.9em;
        width: 5em;
        height: 4em;
    }
    .fp-con-cnt-sents > p:nth-child(5){
        font-size: 1.2em;
    }

    /* second page section */
    .sp {
        min-height: 118em;
        height: 100vh;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    /* second page main container */
    .sp-con{
        height:115em;
        width: 97%;
        border-radius: 2em;

        margin-top: 1rem;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    /*second page main container content*/
    .sp-con-cnt{
        height: 114em;
        width: 94%;

        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /* second page main container content - main header */
    .sp-con-cnt-mh{
        margin-top: -3rem;
    }
    /* second page main container content - first content */
    .sp-con-cnt-fc{
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-left: 1em;
    }
    /* second page main container content - first content > image container */
    .sp-con-cnt-fc-img{
        margin-top: 10px;
    }
    .sp-con-cnt-fc-img-flip-card {
        width: 290px; /* Adjust the width as needed */
        height: 410px; /* Adjust the height as needed */
    }
    .sp-con-cnt-fc-img-card-image{
        width: 290px; /* Adjust the width as needed */
        height: 410px; /* Adjust the height as needed */
    }
    /* first main container content - second content > circles container */
    #sp-con-cnt-fc-circle-con {
        margin-top: -7rem;
        display: flex;
        flex-direction: row;
    }
    .sp-con-cnt-fc-circles {
        height: 130px;
        width: 130px;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    #sp-con-cnt-fc-circle-1 {
        position: absolute;
        z-index: 4;

        margin-top: 7rem;
        margin-left: 26%;
    }
    #sp-con-cnt-fc-circle-2 {
        position: absolute;
        z-index: 3;

        margin-top: 7rem;
        margin-left: 48rem;
    }
    @keyframes moveOne {
        0% {
            margin-top: 7rem;
            margin-left: 26%;
        }
        100% {
            margin-top: 7rem;
            margin-left: 0%;
        }
    }
    @keyframes moveTwo {
        0% {
            margin-top: 7rem;
            margin-left: -48%;
        }
        100% {
            margin-top: 7rem;
            margin-left: -19%;
        }
    }
    .sp-con-cnt-fc-circles-header {
        font-weight: 600;
        font-size: 1.5rem;
    }
    .secp-mini-details-circle-sentens {
        font-weight: 300;
        font-size: 1rem;
    }
    /* second page main container content - first content > text container */
    .sp-con-cnt-fc-txt-con{
        margin-top: 260px;
        font-size: 1.3rem;
        margin-left: 10px;
    }
    /* second page main container content - first content > text container*/
    .secp-btn{
        margin-top: 10px;
    }
    #secp-btn-download {
        font-weight: 300;
        padding: 0.4rem 0.6rem;
        font-size: 1.5rem;
    }
    .secp-btn-links {
        font-size: 1.5rem;
    }
    /* second page main container content - second content */
    .sp-con-cnt-sc{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:22px;
    }
    .sp-con-cnt-sc-h{
        font-size: 35px;
        margin-top: 18px;
    }
    .sp-con-cnt-sc-c {
        height: 435px;
        width: 100%;
        border-radius: 1rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2px;
    }
    .sp-con-cnt-sc-c-circle {
        width: 150px;
        height: 150px;
        border: 5px solid #fff;
    }
    .sp-con-cnt-sc-c > p,
    .sp-con-cnt-sc-c > a > p{
        font-size: 1em;
        text-align: center;
        width:98%
    }
    .sp-con-cnt-sc-c > a > p{
        margin-top: 1rem;
    }

    /* third page section */
    .tp {
        min-height: 308em;
        height: 308em;
    }
      /* third page main container content */
    .tp-con {
        width: 97%;
    }
      /* timeline content */
    .timeline-content{
        height: 545px;
        min-height: 545px;
    }

    /* four page section */
    /* four page main container */
    .fop-con {
        width: 97%;
        height: 1650px;
    }
    /* four page section */
    .fop {
        min-height: 110em;
        height: 110em;/* minimum size of first page */
    }
    /* four page main container content - main content card content - main header*/
    .fop-con-cnt-mcard-cnt-mh {
        font-size: 1.6em;
    }
    /*four page main container content - main content card content - content - item*/
    .fop-con-cnt-mcard-cnt-cnt-item-img{
        width: 90px;
        height: 90px;
    }

    /* first page section */
    .fip {
        min-height:65em;
        height: 65em;
        width: 100%;
    }
    /*first page main container*/
    .fip-con{
        height: 910px;
        width: 97%;

    }

    /*last page*/
    .lastp{
        min-height: 64em;
        height: 64em;
    }
    .lastp-container{
        width: 97%;
    }

    .popup-caller {
        width: 80px;
        height: 80px;
    }
    .lastp-container-box{
        border-width: 0.3em 0 0 0;

        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .address{
        display: none;
    }
    .contact-map{!important;
        width: 100%;
        height: 300px;
    }
    .contact-map > iframe { !important;
        width: 100%;
        height: 100%;
    }

}


/* Dekstop or laptop view */
@media (min-width:992px){
    /* nav bar */
    .mobile-navbar{
        display: none;
    }
    .tab-navbar{
        display: block;
    }

}